aside.side-menu-container
  .logo-menu
    h2.logo MWF
    i.fa-solid.fa-bars
  ul.list
    li.list-item.active
      a(href='/dashboard')
        i.fa-solid.fa-house
        span.link-name Dashboard
    li.list-item
      a(href='/usersList')
        i.fa-solid.fa-users
        span.link-name Users
    li.list-item
      a(href='/sales')
        i.fa-solid.fa-cart-shopping
        span.link-name Sales
    li.list-item
      a(href='/stock')
        i.fa-solid.fa-truck
        span.link-name Stock
    li.list-item
      a(href='/products')
        i.fa-solid.fa-couch
        span.link-name Products
    li.list-item
      a(href='/settings')
        i.fa-solid.fa-gear
        span.link-name Settings