aside.side-menu-container
  .logo-menu
    h2.logo MWF
    i.fa-solid.fa-bars
  ul.list
    if currentUser
      //- Dashboard - Manager only
      if currentUser.role === "manager"
        li.list-item
          a(href='/dashboard')
            i.fa-solid.fa-house
            span.link-name Dashboard
      
      //- UsersList - Manager only
      if currentUser.role === "manager"
        li.list-item
          a(href='/usersList')
            i.fa-solid.fa-users
            span.link-name Users
      
      //- Common menu items for both roles
      li.list-item
        a(href='/sales')
          i.fa-solid.fa-cart-shopping
          span.link-name Sales
      li.list-item
        a(href='/stock')
          i.fa-solid.fa-truck
          span.link-name Stock
      li.list-item
        a(href='/products')
          i.fa-solid.fa-couch
          span.link-name Products
      li.list-item
        a(href='/index')
          i.fa-solid.fa-arrow-right-from-bracket(style='font-size: 25px;')
          span.link-name Logout 