aside.side-menu-container
  .logo-menu
    h2.logo MWF
  ul.list
    if currentUser.role === "manager" || currentUser.role === "Manager" || currentUser.isManager === true
      li.list-item
        a(href='/dashboard')
          i.fa-solid.fa-house
          span Dashboard
      li.list-item
        a(href='/usersList')
          i.fa-solid.fa-users
          span Users
    li.list-item
      a(href='/sales')
        i.fa-solid.fa-cart-shopping
        span Sales
    li.list-item
      a(href='/stock')
        i.fa-solid.fa-truck
        span Stock
    li.list-item
      a(href='/products')
        i.fa-solid.fa-couch
        span Products
    li.list-item
      a#logoutBtn(href='#')
        i.fa-solid.fa-sign-out-alt
        span Logout

// Logout Modal
#logoutConfirmationModal.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.bg-warning
        h5.modal-title Confirm Logout
        button.btn-close(data-bs-dismiss='modal')
      .modal-body
        p Are you sure you want to logout?
      .modal-footer
        button.btn.btn-secondary(data-bs-dismiss='modal') Cancel
        a.btn.btn-danger(href='/logout') Logout

script.
  document.getElementById('logoutBtn')?.addEventListener('click', function(e) {
    e.preventDefault();
    new bootstrap.Modal(document.getElementById('logoutConfirmationModal')).show();
  });