aside.side-menu-container
  .logo-menu
    h2.logo MWF
    i.fa-solid.fa-bars
  ul.list
    if currentUser.role === "manager" || currentUser.role === "Manager" || currentUser.isManager === true
      li.list-item(class=(currentPath === '/dashboard' ? 'active' : ''))
        a(href='/dashboard')
          i.fa-solid.fa-house
          span.link-name Dashboard
      li.list-item(class=(currentPath === '/usersList' ? 'active' : ''))
        a(href='/usersList')
          i.fa-solid.fa-users
          span.link-name Users
    li.list-item(class=(currentPath === '/sales' ? 'active' : ''))
      a(href='/sales')
        i.fa-solid.fa-cart-shopping
        span.link-name Sales
    li.list-item(class=(currentPath === '/stock' ? 'active' : ''))
      a(href='/stock')
        i.fa-solid.fa-truck
        span.link-name Stock
    li.list-item(class=(currentPath === '/products' ? 'active' : ''))
      a(href='/products')
        i.fa-solid.fa-couch
        span.link-name Products
    li.list-item
      a#logoutBtn(href='#')
        i.fa-solid.fa-sign-out-alt
        span.link-name Logout

// Logout Modal
#logoutConfirmationModal.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.bg-warning
        h5.modal-title Confirm Logout
        button.btn-close(data-bs-dismiss='modal')
      .modal-body
        p Are you sure you want to logout?
      .modal-footer
        button.btn.btn-secondary(data-bs-dismiss='modal') Cancel
        a.btn.btn-danger(href='/logout') Logout

script.
  // Sidebar toggle functionality
  document.addEventListener('DOMContentLoaded', function() {
    const toggleBtn = document.querySelector('.logo-menu .fa-bars');
    const sidebar = document.querySelector('.side-menu-container');
    
    if (toggleBtn && sidebar) {
      toggleBtn.addEventListener('click', function(e) {
        e.stopPropagation();
        sidebar.classList.toggle('collapsed');
      });
    }
    
    // Logout functionality
    const logoutBtn = document.getElementById('logoutBtn');
    if (logoutBtn) {
      logoutBtn.addEventListener('click', function(e) {
        e.preventDefault();
        const modalElement = document.getElementById('logoutConfirmationModal');
        if (modalElement) {
          const modal = new bootstrap.Modal(modalElement);
          modal.show();
        }
      });
    }
  });