* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Main Body Layout: Flexbox for Sidebar and Main Content */
body {
  /* Ensures body takes full viewport height */
  background: url(../images/back.jpeg);
  /* Overall page background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* makes sure body takes full viewport height */
  margin: 0;
}

/* SIGNUP PAGE */
.form-container {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.3); /* white with 50% transparency */
  color: #000;
  border-radius: 40px;
  padding: 30px 40px;
  margin: auto;
}

.head {
  text-align: center;
  color: white;
  font-size: 36px;
}

.form-container .input-box {
  width: 100%;
  height: 50px;
  /* background: lawngreen; */
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  /* background: transparent; */
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #000;
}

.form-container .button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  font-size: 15px;
  color: white;
  font-weight: 500;
  background: #4c6444;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container .button:hover {
  background: #102820;
  /* Darker shade on hover */
}

select {
  padding: 10px;
  width: 70%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}

input,
select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s;
}

select:focus {
  outline: none;
  border-color: #000;
}

input.invalid {
  border: 2px solid red;
  background-color: #ffe6e6; /* optional light red background */
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  min-height: 20px;
}

.success-message {
  text-align: center;
  color: #2ecc71;
  margin-top: 20px;
  font-weight: 500;
  display: none;
}
